@import './src/styles/fonts.css';
@import './src/styles/variables.css';
@import './src/styles/media-queries.css';

body {
    background: var(--secondary);
    color: var(--text-primary);
}

h1 {
    font-family: 'DMSerifDisplay-Regular';
    font-size: 60px;
    color: var(--primary);
    text-align: center;
}

.search-area {
    display: flex;
    flex-direction: column;
    align-items: center
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
